/target
**/*.rs.bk
/Birds.jpg
/AEM00041217.csv
/Data.csv
/Data.bin
/WindData.bin
/RainVSDev.csv
/RainVTemp.csv
/RainVVar.csv
/WindVVar.csv
/RainData.bin
/Elevation.bin
/ElevationVSDD.csv
/tempgrid.bin